<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>

<!-- 네비게이션 바 -->
{% include 'navbar.html' %}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="coin-info" style="margin-bottom: 60px;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" colspan="2" style="text-align:center">코인 정보</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if market_coin_count < 0 %}
                        <tr>
                            <td>마켓 보유 코인 수:</td>
                            <td>0</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>마켓 보유 코인 수:</td>
                            <td>{{ market_coin_count }} COINS</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>현재 코인 가격:</td>
                            <td>{{ market_coin_price }} WON</td>
                        </tr>
                        <tr>
                            <td>코인 등락률</td>
                            <td>
                                {% if coin_change_rate > 0 %}
                                <span style="color: red;">+{{ coin_change_rate }}%</span>
                                {% elif coin_change_rate == 0 %}
                                <span>{{ coin_change_rate }}%</span>
                                {% else %}
                                <span style="color: blue;">{{ coin_change_rate }}%</span>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="coin-button col-md-4 text-left">
                    {% if 'username' in session %}
                    {% if market_coin_count %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buyCoinModal">코인
                        구매하기
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buyCoinModal"
                            disabled>코인 구매하기
                    </button>
                    {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="col-md-6">
                {% if 'username' in session %}
                <div class="user-info">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" colspan="2" style="text-align:center">사용자 정보</th>
                        </tr>
                        </thead>
                        <tr>
                            <td style="text-align: center;">사용자 id :</td>
                            <td style="text-align: center;">{{ session['username']}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">보유 코인 수:</td>
                            <td style="text-align: center;">{{ coin_count }} COINS</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">계정 잔고:</td>
                            <td style="text-align: center;">{{ "{:,.0f}".format(account_balance) }} WON</td>
                        </tr>

                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


</div>
</div>


<!-- 코인 구매 폼 -->
<div class="modal fade" id="buyCoinModal" tabindex="-1" role="dialog" aria-labelledby="buyCoinModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="buyCoinModalLabel">마켓에서 코인 구매하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="buy-coin-form">
                    <div class="form-group">
                        <label for="coin_count">구매할 코인 수:</label>
                        <input type="number" class="form-control" id="coin_count" name="coin_count" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirm-buy-coin">확인</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
{% include 'deposit_modal.html' %}
{% include 'withdraw_modal.html' %}
</div>


<div class="chart-wrapper">
    <canvas id="coinChart"></canvas>
    <h3 class="chart-title" style="font-size: 16px;"> - 최근 성사된 거래</h3>
</div>

<style>
    .chart-wrapper {
        position: relative;
        width: 60%;
        margin: 0 auto;
    }

    .chart-title {
        position: absolute;
        top: 5%;
        left: 20%;
        transform: translate(-50%, -50%);
    }



</style>

<script>
    var coinLabels = {{ coin_labels|tojson }};
    var coinPrices = {{ coin_prices|tojson }};

    // 코인 가격에 따라 동적으로 배경 색상을 반환하는 함수
    function getChartBackgroundColor(prices) {
        var lastPrice = prices[prices.length - 2];
        var currentPrice = prices[prices.length - 1];

        if (currentPrice > lastPrice) {
            return 'rgba(255, 0, 0, 0.3)'; // 상승 시 빨간색 배경
        } else if (currentPrice < lastPrice) {
            return 'rgba(0, 0, 255, 0.3)'; // 하강 시 파란색 배경
        } else {
            return 'rgba(0, 0, 0, 0.3)'; // 동일 시 기본 배경
        }
    }

    // 코인 가격에 따라 동적으로 테두리 색상을 반환하는 함수
    function getChartBorderColor(prices) {
        var lastPrice = prices[prices.length - 2];
        var currentPrice = prices[prices.length - 1];

        if (currentPrice > lastPrice) {
            return 'rgba(255, 0, 0, 1)'; // 상승 시 빨간색 테두리
        } else if (currentPrice < lastPrice) {
            return 'rgba(0, 0, 255, 1)'; // 하강 시 파란색 테두리
        } else {
            return 'rgba(0, 0, 0, 1)'; // 동일 시 기본 테두리
        }
    }

    // 차트 설정
    var ctx = document.getElementById('coinChart').getContext('2d');
    var coinChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: coinLabels,
            datasets: [{
                label: '코인 가격',
                data: coinPrices,
                backgroundColor: getChartBackgroundColor(coinPrices),
                borderColor: getChartBorderColor(coinPrices),
                borderWidth: 1,
                pointBackgroundColor: function(context) {
                    var index = context.dataIndex;
                    var currentPrice = context.dataset.data[index];

                    if (index > 0) {
                        var lastPrice = context.dataset.data[index - 1];
                        if (currentPrice > lastPrice) {
                            return 'rgba(255, 0, 0, 1)'; // 상승 시 빨간색 포인트
                        } else if (currentPrice < lastPrice) {
                            return 'rgba(0, 0, 255, 1)'; // 하강 시 파란색 포인트
                        }
                    }

                    return 'rgba(0, 0, 0, 1)'; // 기본 포인트 색상
                }
            }]
        },
        options: {
            maintainAspectRatio: false,
        }
    });


</script>
</body>
</html>