<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center">
    <a class="navbar-brand" href="/">ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤCoin MarketPlace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if 'username' in session %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">로그아웃</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trade_post">거래하기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#depositModal">입금하기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#withdrawModal">출금하기</a>
            </li>

            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">회원가입</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>